@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
    font-size: 75px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #31343c;
}

/*
@media screen and (max-width: 770px) {
    body {
        font-size: 100px;
    }
}
*/

.row {
    margin-top: 10%;
}

#normal-div {
    overflow-y: auto;
    overflow-x: hidden;
}